@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.block_ {
    color: #345A8A;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_1 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    display: block;
    font-family: "Arial", sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_5 {
    color: #4F81BD;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_6 {
    color: #243F60;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_7 {
    color: #002060;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_8 {
    display: table-row;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_9 {
    background-color: #F8F9FA;
    color: #202124;
    display: block;
    letter-spacing: 0.15pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_10 {
    color: #0070C0;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_11 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_12 {
    color: #365F91;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_13 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_14 {
    color: #002060;
    display: block;
    font-family: "Calibri", sans-serif;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_15 {
    color: #243F60;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_16 {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_17 {
    color: #000;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_18 {
    color: #243F60;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-decoration: underline
    }
.block_19 {
    display: block;
    margin-bottom: 19.2pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_20 {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_21 {
    color: #243F60;
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-decoration: underline
    }
.block_22 {
    display: block;
    font-family: "Calibri", sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_23 {
    color: #002060;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-decoration: underline
    }
.block_24 {
    display: block;
    line-height: 18.8pt;
    margin-bottom: 18pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_25 {
    display: block;
    font-family: serif;
    line-height: 18.8pt;
    margin-bottom: 18pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_26 {
    background-color: #FFF;
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_27 {
    display: block;
    font-family: "Segoe UI Symbol", sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_28 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_29 {
    color: #345A8A;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.bullet_ {
    display: table-cell;
    font-weight: bold
    }
.calibre {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    white-space: pre-wrap
    }
.calibre2 {
    text-decoration: none
    }
.calibre3 {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 36pt;
    padding-right: 0;
    padding-top: 0
    }
.calibre4 {
    display: table-cell
    }
.calibre5 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre6 {
    display: block
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    height: 371pt;
    line-height: 1.2;
    width: 248pt
    }
.calibre9 {
    height: 468pt;
    width: 468pt
    }
.calibre10 {
    height: 250pt;
    width: 468pt
    }
.text_ {
    color: #00F;
    text-decoration: underline
    }
.text_1 {
    color: #F00
    }
.text_2 {
    color: #000;
    font-family: "Cambria", serif
    }
.text_3 {
    color: #00F;
    font-family: "Times New Roman", serif;
    text-decoration: underline
    }
.text_4 {
    color: #000;
    font-family: "Times New Roman", serif
    }
.text_5 {
    color: #00F;
    font-weight: bold;
    text-decoration: underline
    }
.text_6 {
    color: #36424A
    }
.text_7 {
    color: #002060;
    text-decoration: underline
    }
.text_8 {
    color: #002060;
    font-family: "Cambria", serif
    }
.text_9 {
    color: #626262;
    font-family: "Arial", sans-serif
    }
.text_10 {
    color: #00F;
    font-family: "Cambria", serif;
    text-decoration: underline
    }

